 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s ease;
    background-color: #f8f9fa; 
}
.colors {
    display: flex;
    justify-content: center;
    gap: 30px; 
    width: 90%;
    margin-bottom: 20px;
}
.red-container, .green-container, 
.blue-container, .mixed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    background-color: #fff; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.336); 
    transition: all 0.5s ease;
    border: 4px solid #fff;
}
p {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 600;
    color: #333;
}
button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
}
button:hover {
    filter: brightness(1.1);
    transform: translateY(-4px); 
}
button:active {
    transform: translateY(0);
}
.mix-container {
    display: flex;
    gap: 15px;
    align-items: center;
    background: #ffffffcc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.345);
}
input {
    width: 65px;
    padding: 12px;
    border: 2px solid #eee;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
    outline: none;
    transition: border-color 0.5s;
}
input:focus {
    border-color: #4CAF50;
}
.reset-btn {
    margin-top: 25px;
    background-color: #333;
}


@media (max-width: 600px) {
    .colors {
        flex-direction: column; 
        align-items: center;
        gap: 15px;
    }
    .mix-container {
        flex-wrap: wrap; 
        justify-content: center;
        width: 90%; 
        padding: 15px;
    }
    input {
        width: 60px; 
    }
    .red-container, .green-container, .blue-container {
        height: 120px;
        width: 120px;
    }
}